* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeee;
}

button {
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 40px;
}

.header {
    display: flex;
    width: 90%;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

input {
    height: 120px;
    font-size: 2em;
    width: 50%;
    padding-left: 10%;
}

.btn {
    width: 20%;
    cursor: pointer;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    background-color: white;
    height: 80px;
    width: 60%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 30px;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2em;
}

.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
}

.fa-circle-check {
    color: green;
}

.item.clicado {
    background: #d4f6d9;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
}